.chat-main
  .main_header
    .chat-main-header
    .chat-main-header__edit-btn
      edit
      .chat-main-header__left-box
        .chat-main-header__current-group
          sora
        %ul.chat-main-header__member-list
          member
          %li.chat-main-header__member-name
            = current_user.name
  .messages
    = render @messages
    .message
      .message__upper-info
        .message__upper-info__talker
          校長アルバスダンブルドア
        .message__upper-info__date
          2020/01/25(Sat) 19:11:38
      .message__text
        エクスペクトぱとろーななぁあああああんむっ
        
  .form
    %form.new_message
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content, class: "input-box__text", placeholder: "type a message"
        = f.label :image, class: 'input-box__image' do
          = icon('fas','image')
          = f.file_field :image, class: "input-box__image__file"
      = f.submit 'send', class: 'send'