.chat-side
  .side-header
    .side-header__box
      %p.side-header__box--user
        = current_user.name
      %ul.side-header__box--menu
        %li.side-header__box--group
        = link_to new_group_path do
          = icon('fa', 'edit')
        %li.side-header__box--edit
        = link_to edit_user_path(current_user) do
          = icon('fa', 'cog')
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to "" , class: "group" do
          %p.group__group-name
            = group.name
          %p.group__group-message
            まだメッセージがありません